DJANGO_ADMIN_URL=admin
DJANGO_SETTINGS_MODULE=config.settings.local
DATABASE_URL=postgres://rcj:rcj@127.0.0.1:5432/rcj
DJANGO_SECRET_KEY=x5u8s&1$%67)+@trv(^0$h64x8-8(lhc=d*bm@(wdfl4vmfxl+
DJANGO_ALLOWED_HOSTS=.rcj.abiera.com
# DJANGO_MAILGUN_API_KEY=
# JANGO_MAILGUN_SERVER_NAME=
# DJANGO_SERVER_EMAIL=
# DJANGO_SECURE_SSL_REDIRECT=False
